<main class="container">
    <div class="p-4 p--5 mb-4 text-white rounded bg-dark image-contain">
      <div class=" px-0">
        <p class="lead my-3"><br></p>
        <h1 class="display-1 font-italic">What is Campus Pray?</h1>
        <p class="lead my-3"><br><br><br><br><br></p>
        
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
          <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 text-center">Because You Prayed</h5>
            <h5 class="mb-0 text-center">God Touched our weary bodies with His Power.</h5>
            <h5 class="mb-0 text-center">And gave us strength for many a trying hour.</h5>
            <h5 class="mb-0 text-center">In which we might have faltered</h5>
            <h5 class="mb-0 text-center">Had not you, our intercessors,</h5>
            <h5 class="mb-0 text-center">Faithful been and true.</h5>
            <br>
            <h5 class="mb-0 text-center">Because you prayed,</h5>
            <h5 class="mb-0 text-center">God touched our eager fingers with His skill,</h5>
            <h5 class="mb-0 text-center">Enabling us to do his blessed will.</h5>
            <h5 class="mb-0 text-center">With scalpel, structure, bandage-better still</h5>
            <h5 class="mb-0 text-center">He healed the sick and wounded, cured the ill.</h5>
            <br>
            <h5 class="mb-0 text-center">Because you prayed,</h5>
            <h5 class="mb-0 text-center">God touched our lips with coals from alter fire.</h5>
            <h5 class="mb-0 text-center">Gave spirit fullness, and did not inspire</h5>
            <h5 class="mb-0 text-center">That when we spoke, sin blinded souls did see,</h5>
            <h5 class="mb-0 text-center">Sin's chains were broken - captives were made free.</h5>
            <br>
            <h5 class="mb-0 text-center">Because you prayed,</h5>
            <h5 class="mb-0 text-center">Dwellers in the dark have found the Light,</h5>
            <h5 class="mb-0 text-center">The glad, good news has baniished heathen night.</h5>
            <h5 class="mb-0 text-center">The message of the cross so long delayed</h5>
            <h5 class="mb-0 text-center">Has brought them life at last because you prayed!</h5>
            <br>
            <br>
            <h6 class="mb-0 text-center blockquote-footer"><i>Selected, Revival God's Way</i></h6>
          </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-300">
          <div class="card-body d-flex flex-column align-items-start">
            <img class="logo-size" src="/assets/images/email.png" alt="Email">
            <p class="card-text mb-auto">Since we have had this in our hearts and minds, there is a chance that other colleges might as well, and God can change lives through prayer. To launch next year, Campus Pray is the Hope that UK Pray will expand to other Colleges/Universities, big and small. This is student-organized, so if you are interested in starting something like this on your campus to wage war on your knees, please send a message, and I would love to talk about what that would look like.
            </p>
            <br><br>
            <a href="campuspray365@gmail.com"><span class="__cf_email__" data-cfemail="campuspray365@gmail.com">CampusPray365@gmail.com</span></a>
          </div>
        </div>
        <h6><i>"Brothers, my heart's desire and prayer to God for them is that they may be saved."</i></h6>
        <br>
        <h6 class="mb-0 blockquote-footer"><i>Romans 10:1</i></h6>
      </div>
    </div>
    
  </main><!-- /.container -->