.image-contain {
    background-image: url("/assets/images/CampusesBW.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-size {
    width: 100px;
}