<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded image-contain">
    
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Interceding for campus one day and one name at a time.</h1>
      <p class="lead my-3">“And this is eternal life, that they know you, the only true God, and Jesus Christ whom you have sent.”<small><br>-John 17:3</small></p>
      <p class="lead my-3"><a type="button" style="background: #ccc;" class="btn btn-outline-dark" routerLink="/signup">Sign up to join us!</a></p>
      
    </div>
  </div>
  <!--Quote-->
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"><!--make class to change color to shade of light beige-->
        <div class="col p-4 d-flex flex-column position-static">
          <h4 class="mb-auto"><i>“There has never been a spiritual awakening in any country or locality that did not begin in united prayer.”</i></h4>
          <small>-Dr A. T. Pierson</small>
        </div>
      </div>
    </div>
    <!--Video-->
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <iframe height="250" src="https://www.youtube.com/embed/Rg66_QuKK8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>About</h2>
      <p class="information-sections">The Aim of UK Pray is for every student, 
        faculty and staff at the University of Kentucky to develop a flame for God that can only come through knowing Him. 
        This means to pray that those who are believers would be revived, and the Lost may be found.  
        In order to pray for 55,825 students, faculty, and staff at the University of Kentucky in the spring of 2023 
        we are asking for 1396 people to intercede for 40 names for 40 days (not including weekends). 
        This will take place starting Resurrection Sunday, April 9th, and last until May 28th which is Pentecost.
      </p>
    </div>
    <div>
      <h2>Why?</h2>
      <ul class="information-sections">
        <li>That God's name be hallowed</li>
        <li>That His Kingdom would be known on Campus</li>
        <li>The plea to pray and a turning to Him</li>
        <li>To be catalysts of Gospel saturation through</li>
        <ul>
          <li>Biblical unity</li>
          <li>Loving our neighbor</li>
          <li>Sharing the hope we have</li>
          <li>Healing and deliverance, chains breaking and idols destroyed</li>
          <li>Radical hospitality</li>
          <li>Gifting of the Spirit to be evident</li>
          <li>Renewal, revival, awakening, and restoration</li>
        </ul>
        <li>Lights of the world</li>
        <li>That our college years would be lived in light of eternity</li>
      </ul>
    </div>
  </div>
</main><!-- /.container -->