<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded image-contain">
    
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Interceding for campus one day and one name at a time.</h1>
      <p class="lead my-3">Sign up to join us by clicking here: <a type="button" style="background: #ccc;" class="btn btn-outline-light" routerLink="/signup">Sign Up</a></p>
      
    </div>
  </div>
  <!--Quote-->
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"><!--make class to change color to shade of light beige-->
        <div class="col p-4 d-flex flex-column position-static">
          <h4 class="mb-auto"><i>"To stand before men on behalf of God is one thing. To stand before God on behalf of men is something entirely different."</i></h4>
          <small>-Leonard Ravenhill</small>
        </div>
      </div>
    </div>
    <!--Video-->
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <iframe height="250" src="https://www.youtube.com/embed/Rg66_QuKK8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>About</h2>
      <p>The aim of UK Pray is for every student at the University of Kentucky to have salvation that can only come through knowing Christ.</p>
      <p>In order to pray for 30,159 names in the year 2021 we are asking for 754 people to pray for 40 names for 40 days.</p>
      <p>This will take place starting February 17th and go until Easter Sunday, April 4th.</p>
    </div>
    <div>
      <h2>Why?</h2>
      <p>We believe that God's heart is for us to join Him in praying for His people (Hebrews 7:25, Romans 8:34, 1 John 2:6)</p>
      <p>Because we live in Lexington, we believe God has called us to pray specifically for the individual people in Lexington. (Jerimiah 29:7, Galatians 5:14)</p>
      <p>We believe that God can make the University of Kentucky a light for the nations, and we are asking Him to do it! (Matthew 5:14, Psalms 2:8)</p>
      <p>We live for a moment in this world (James 4:14) and are called to be lights to the world (Isaiah 49:6). Please join us in prayer for our city's campus as we ask God to do something only He can do. (Ephesians 3:20, 2 Peter 3:9)</p>
    </div>
  </div>
</main><!-- /.container -->