<div class="container">
  <div class="blog-header py-3">
    <div class="row flex-nowrap  align-items-center">
      <img class="logo-size" src="assets/images/Logo.crop.png" alt="Logo">
      <div >
          <a class="blog-header-logo text-dark" routerLink="/home">UK Pray</a>
      </div>
    </div>
  </div>

  <div class="nav-scroller py-1 mb-2">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <div class="container-fluid">
        <a class="p-2 nav-font link-secondary" routerLink="/home">Home</a>
        <a class="p-2 nav-font link-secondary" routerLink="/beliefs">Beliefs</a>
        <a class="p-2 nav-font link-secondary" routerLink="/campus-pray">Campus Pray</a>
        <a style="font-size:1.25rem;" class="p-2 signup link-danger" routerLink="/signup">Sign Up</a>
      </div>
    </nav>
  </div>
</div>
